{% extends './layout.html' %}

{% load static %}

{% block title %}
    <link rel="stylesheet" href="{% static 'css/posts.css' %}">
{% endblock %}

{% block body %}
    <h1>create a new blog</h1>
    <p>
        <a href="{% url 'home' %}">go back</a>
    </p>
    <form action="{% url 'create_blog' %}" method="post">
        {% csrf_token %}
        <input type="text" name = "title" placeholder="Title" required>
        <input type="text" name = "description" placeholder="description" required>
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
        <input type="text" name = "state" placeholder="public or private">
        <input type="submit" value="create">
    </form>
{% endblock %}